################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vscode
backend/DividendAlert/bin
backend/DividendAlert/obj


backend/DividendAlert/DividendAlert.csproj.user
backend/DividendAlert/appsettings.Development.json
/.vs/DividendAlert
backend/DividendAlert/Properties/PublishProfiles/FolderProfile.pubxml.user

frontend/DividendAlertApp/src/environments/environment.ts
/DividendAlert/bin/Debug/netcoreapp2.1
/DividendAlert/obj
/DividendAlert/DividendAlert.csproj.user
/.vs/config/applicationhost.config
/backend/DividendAlert/Properties/PublishProfiles/dividendalertjaime - Web Deploy.pubxml.user
/DividendAzureFunction/Properties/PublishProfiles/dividend-function - Web Deploy.pubxml
/backend/DividendAlert/Properties/PublishProfiles/IISLocal.pubxml.user
/backend/DividendAlert/Properties/PublishProfiles/DividendAlertBackend - Web Deploy.pubxml.user
/backend/DividendAlert/Properties/PublishProfiles/DividendAlertBackend - Web Deploy.pubxml
/backend/DividendAlert/Properties/launchSettings.json
/DividendAlertData/obj
/DividendAlertData/bin/Debug/netstandard2.0
/DividendAlertData/bin/Release/netstandard2.0
/DividendAlertApi/bin/Debug/netcoreapp3.0
/DividendAlertApi/obj
/DividendAlertApi/Properties/launchSettings.json
/DividendAlertApi/appsettings.Development.json
/DividendAlertApi/DividendAlertApi.csproj.user
/frontend/package-lock.json
/DividendAlertApi/Properties/PublishProfiles
/DividendAlertApi/Properties/PublishProfiles
/DividendAlertApi/bin/Release/netcoreapp3.0
