################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vscode
/DividendAlert/bin
/DividendAlert/obj


/DividendAlert/DividendAlert.csproj.user
/DividendAlert/appsettings.Development.json
/.vs/DividendAlert
/DividendAlert/Properties/PublishProfiles/FolderProfile.pubxml.user
