################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vscode
backend/DividendAlert/bin
backend/DividendAlert/obj


backend/DividendAlert/DividendAlert.csproj.user
backend/DividendAlert/appsettings.Development.json
/.vs/DividendAlert
backend/DividendAlert/Properties/PublishProfiles/FolderProfile.pubxml.user

frontend/DividendAlertApp/src/environments/environment.ts
/DividendAlert/bin/Debug/netcoreapp2.1
/DividendAlert/obj
/DividendAlert/DividendAlert.csproj.user
/.vs/config/applicationhost.config
/backend/DividendAlert/Properties/PublishProfiles/dividendalertjaime - Web Deploy.pubxml.user
/DividendAzureFunction/Properties/PublishProfiles/dividend-function - Web Deploy.pubxml
/backend/DividendAlert/Properties/PublishProfiles/IISLocal.pubxml.user
